body {
  box-sizing: border-box;
}
.label,
.readonly-value {
  display: inline;
}
.database {
  border: solid 1px #0ae;
  padding: 10px;
}
.database > div > h2.header {
  display: inline;
  margin-right: 16px;
}
.root {
  border-top: solid 1px #1b6fb5;
  position: relative;
}
.root > .left {
  display: inline-block;
}
.list.values {
  padding-left: 15px;
  display: inline-block;
}
.all {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.db-container {
  width: 500px;
  min-height: 0;
  height: 100%;
  overflow: auto;
}
.control {
  display: inline-block;
  flex: 1 0 1px;
  min-height: 0;
  height: 100%;
}
